.home{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: -2rem;
height: 100vh;
}
.name{
   
        font-size: 4rem;
     
}
.prof{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    bacground-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 2rem;  
}
button {
    font-size: 1.5rem;
    width: 15rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: black;
    color: white;
    height: 2rem;
    display:flex;
    gap:0.2rem;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    
 
  }
  button:hover{
    transition: 0.2s;
    background: rgba(252,70,107,1);
    box-shadow: 1px 2px 9px rgba(252,70,107,1)
  }
.icons{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;width:15rem;
}
.icon{
    cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
    border-radius: 0.5rem;
  width: 6rem;
  background-color: grey;
  color:white;
  opacity:0.7;
 

 
}

@media (max-width:775px ){
    .name{
        font-size: 3rem;
    }
    .prof{
        font-size: 1.5rem;
    }
}
@media (max-width:500px ){
    .name{
        font-size: 3rem;
    }
    .prof{
        font-size: 1.5rem;
    }
}